#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#Project{
background-image:url(./assets/images/banner.jpg) ;
}
hr{
  color: blue;
}
.foot{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.foot .liens{
  display: flex;
  flex-direction: column;
}
.foot .realisation{
  display:flex;
  flex-direction: column;
}

  

