#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#Project{
background-image:url(./assets/images/banner.jpg) ;
}
hr{
  color: blue;
}
button{
  background-color: gray;
}
.foot{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.foot .liens{
  display: flex;
  flex-direction: column;
}
.foot .realisation{
  display:flex;
  flex-direction: column;
}
/* ecran smartphone*/

 @media screen and (min-width=321px) and (max-witdh=480px) {
  body{
    display: flex;
    flex-direction: column ;
  }
 } 
/* écran tablette*/
 @media screen  and (min-witdh=768px)and (max-witdh=900px) {
  body{
    display: flex;
    flex-direction: column;
  }
 }

